xue, shai, ju, se, mir, san, ye{font-weight:var(--bold-fw);}
qxue, qshai, qju, qse, qmir, qsan, qye{font-weight:var(--semibold-fw);font-style:italic;}

xue::before, shai::before, ju::before, se::before, mir::before, san::before, ye::before{content:'\201C';}

xue::after, shai::after, ju::after, se::after, mir::after, san::after, ye::after{content:'\201D';}

xue::before, shai::before, ju::before, se::before, mir::before, san::before, ye::before, xue::after, shai::after, ju::after, se::after, mir::after, san::after, ye::after{color:var(--textClr);font-weight:normal;}

qgy, qak, qmun, qga, qbom, qyeo{font-weight:var(--semibold-fw);font-style:italic;}


xue{color:var(--gyeoul);}
shai{color:var(--akma);}
ju{color:var(--mun);}
se{color:var(--gaeul);}
mir{color:var(--gaeulc);}
san{color:var(--bom);}
ye{color:var(--yeo);}

qxue, qgy{color:var(--gyeof);}
qshai, qak{color:var(--akmaf);}
qju, qmun{color:var(--munf);}
qse, qga{color:var(--gaeulf);}
qsan, qbom{color:var(--bomf);}
qye, qyeo{color:var(--yeof);}
qmir {color:var(--gaeul);}
