xue, shai, ju, se, mir, san, ye, jae, run, ki, hyeon{font-weight:var(--bold-fw);}
qxue, qshai, qju, qse, qmir, qsan, qye, qjae, qrun, qki, qhyeon{font-weight:var(--semibold-fw);font-style:italic;}

xue::before, shai::before, ju::before, se::before, mir::before, san::before, ye::before, jae::before, run::before, ki::before, hyeon::before{content:'\201C';}

xue::after, shai::after, ju::after, se::after, mir::after, san::after, ye::after, jae::after, run::after, ki::after, hyeon::after{content:'\201D';}

xue::before, shai::before, ju::before, se::before, mir::before, san::before, ye::before, xue::after, shai::after, ju::after, se::after, mir::after, san::after, ye::after, jae::before, run::before, ki::before, hyeon::before, jae::after, run::after, ki::after, hyeon::after{color:var(--textClr);font-weight:normal;}

qgy, qak, qmun, qga, qbom, qyeo{font-weight:var(--semibold-fw);font-style:italic;opacity:0.9;}


xue, qxue, qgyeoc{color:var(--gyeoc);}
shai, qshai, run, qrun, qak{color:var(--akma);}
ju, qju, qmun{color:var(--mun);}
se, ki, qse, qki{color:var(--gaeul);}
mir, qgac, qmir{color:var(--gaeulc);}
san, qbom, qsan{color:var(--bom);}
ye, jae, qye, qjae, qyeo{color:var(--yeo);}
hyeon, qhyeon, qgy{color:var(--gyeoul);}
